@model PlaceViewer.ViewModels.SearchPlaceModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Search" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <input type="submit" value="Search" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    @await Component.InvokeAsync("MostViewedPlacesComponent",
        new
        {
            count = 7
        }
        )
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}